@import url('https://fonts.googleapis.com/css?family=Benne');
@import url('https://fonts.googleapis.com/css?family=Staatliches');


body{
    display: grid;
    justify-content: center;
    background-color: #2B2D42 !important;
    color: white;
}

h1{
    font-size: 55px;
    font-family: Benne;
}

h2{
    font-family: Staatliches;
}

td{
    color: white;
}
a{
    text-decoration: none;
}
a:visited{
    color:#EF233C
}