<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="index.css">
  <meta charset="ISO-8859-1">
  <title>Welcome to CodeJava Home</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="flex-container">
  <h1>SE-O</h1>
  <div><a href=""><h2>Cables</h2></a></div>
  <div><a href=""><h2>Power-Amps</h2></a></div>
  <div><a href=""><h2>Speakers</h2></a></div>
  <div><a href=""><h2>Mics</h2></a></div>
  <div><a href=""><h2>Miscellaneous</h2></a></div>
</div>

<h3><a th:href="/@{/register}">Register</a></h3>
<h3><a th:href="/@{/login}">Login</a></h3>

</body>
</html>
